@font-face {
    font-family: "Quicksand";
    src: url("files/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand";
    src: url("files/fonts/Quicksand-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Quicksand";
    src: url("files/fonts/Quicksand-SemiBold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Unna";
    src: url("files/fonts/Unna-Regular.ttf");
}
@font-face {
    font-family: "Unna";
    src: url("files/fonts/Unna-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

html {
    font-family: "Quicksand", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: #000;
    /*text-decoration: none;*/
}

a:hover {
    color: #44d62c;
}

h1,
h2,
h3 {
    font-family: "Unna", serif;
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

p {
    margin: 0;
    padding: 10px 0;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Unna", serif;
    z-index: 2;
    background-color: #fff;
}

header.header a {
    text-decoration: none;
}

header.header .logo {
    padding: 10px;
    padding-top: 15px;
}

header.header .logo img {
    height: 128px;
}

header.header .menu .item {
    letter-spacing: 3px;
    font-size: 20px;
    display: inline-block;
    padding: 0 50px;
    margin: 10px 0;
}

header.header .menu .item {
    border: none;
    color: #000000;
    outline: none;
    position: relative;
}
header.header .menu .item:before,
header.header .menu .item:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: "";
    height: 24px;
    position: absolute;
    width: 0px;
}
header.header .menu .item:before {
    border-top: 1px solid #000000;
    left: 0px;
    top: -5px;
}
header.header .menu .item:after {
    border-bottom: 1px solid #000000;
    bottom: -5px;
    right: 0px;
}
header.header .menu .item:hover:before,
header.header .menu .item:hover:after {
    height: 100%;
    width: 100%;
}

header.header .menu .item.active {
    font-weight: 700;
}

header.header.page {
    text-align: center;
    padding: 10px 20px;
    padding-bottom: 20px;
}

header.header.page .menu {
    display: inline-block;
    position: relative;
    padding-top: 25px;
    padding-left: 100px;
}

header.header.page .menu .item {
    padding: 0 20px;
}

header.header.page .logo {
    display: inline-block;
    position: absolute;
    left: 20px;
}

.content {
    top: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.content.home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content.home img {
    width: 20vw;
    display: inline-block;
}

.content.home a {
    margin: 0 40px;
}

.content .sidebar {
    display: inline-block;
    width: 284px;
    padding: 20px 40px;
}

.content .sidebar img {
    width: 284px;
    margin-top: 50px;
}

.content .page {
    display: inline-block;
    padding: 20px 40px;
    position: absolute;
    padding-right: 60px;
}

.content.portfolio .page {
    text-align: center;
}

.content.portfolio .page .subtitle {
    text-align: justify;
    margin: 0 15px;
}

.content.portfolio.view .page {
    right: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}

.content.portfolio.view .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 85%;
    padding: 5px;
    margin: 20px;
}

.content.portfolio.view .nav img {
    width: 48px;
}

.content.portfolio.view .nav.hidden {
    display: none;
}

.content.portfolio.view .nav img:hover {
    filter: invert(1);
}

.content.portfolio.view .prev {
    float: left;
}

.content.portfolio.view .next {
    float: right;
}

.content.portfolio .page #image img {
    max-width: 15vw;
    max-height: 20vw;
    margin: 20px;
}

.content.portfolio.view .page img {
    max-width: 90%;
    max-height: 90%;
    padding: 20px;
    position: relative;
    transition: all 1s ease-in-out 0s;
}

.content.store .page {
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
}

.content.store .page .hardhat {
    height: 128px;
}

.lazyload {
    background: rgba(0, 0, 0, 0.2);
}

.tabbed {
    padding: 0;
    padding-left: 20px;
    display: block;
}

.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 60px;
    width: 284px;
    word-wrap: break-word;
}

.sidebar-menu a {
    text-decoration: none;
}

.sidebar-menu .menu {
    display: block;
}

.sidebar-menu .menu .item {
    display: block;
    font-size: 30px;
    position: relative;
    width: 284px;
}

.sidebar-menu .menu .item.active {
    font-weight: bold;
}

.sidebar-menu .menu .submenu {
    display: block;
    border-left: 1px solid #000000;
    position: relative;
    width: 284px;
}

.sidebar-menu .menu .submenu .item {
    font-style: italic;
    display: block;
    font-size: 16px;
    padding-left: 5px;
    cursor: pointer;
}
.sidebar-menu .menu .submenu .item.active {
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    header.header {
        height: 250px;
    }

    header.header .menu .item {
        display: block;
    }

    header.header.page {
        text-align: center;
        padding: 0;
    }

    header.header.page .menu {
        display: block;
        padding-top: 5px;
        padding-left: 0;
    }

    header.header.page .logo {
        display: block;
        position: static;
        left: 0;
    }

    .content {
        display: initial;
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
    }
    .content.home {
        display: initial;
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .content.home img {
        position: relative;
        left: 0;
        display: block;
        width: 100%;
    }

    .content .sidebar {
        display: none;
    }

    .content.portfolio .sidebar {
        display: inline-block;
        width: 32px;
    }

    .content.portfolio .page {
        padding-right: 10px;
        text-align: center;
    }

    .content.portfolio.view .page {
        padding: 0;
    }

    .content.portfolio.view .page img {
        max-width: 70%;
        max-height: 70%;
    }

    .content.portfolio .page #image img {
        max-width: 35vw;
        max-height: 50vw;
    }

    .content.portfolio.view .sidebar,
    .content.portfolio.view .sidebar-menu {
        display: none;
    }

    .content.portfolio.view .nav {
        height: 50%;
    }

    .sidebar-menu {
        width: 128px;
        padding-left: 30px;
    }

    .sidebar-menu .menu .item {
        display: block;
        font-size: 20px;
        width: 128px;
    }

    .sidebar-menu .menu .submenu .item {
        font-size: 14px;
        width: 128px;
    }
}
